@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kalam:wght@300;400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');

h1 {
    font-family: "Barriecito", system-ui;
    font-size: 55pt;
}

h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 20pt;
}

body {
    background-color: rgb(221, 232, 224);

}

input[type=text],
input[type=number],
select {
    font-family: 'Red Hat Display';
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    color: #6b6b6b;
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.grid-item {
    text-align: center;
}


.align-center {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
}

nav {
    background-color: rgb(143, 183, 149);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: 'Kalam';


}

nav :hover {
    background-color: rgb(104, 140, 104);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 25px;
    
}

table,
tr,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Red Hat Display';
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);

}

thead tr {
    background-color: #cbb3f3;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr.active-row {
    font-weight: bold;

}